black
click
contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
mypy-extensions
numpy
opencv-python-headless
packaging
pandas
pathspec
pillow
pip
platformdirs
pyparsing
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
streamlit
threadpoolctl
tzdata
